*.swp
package-lock.json
.idea
.venv
.envrc
*.pyc
*.egg-info
*egg-info/
dist
build
_build
.cache/
*pycache*
.tox/
.cache/
.pytest_cache
.coverage
.doctrees
docs/github_images/
.eggs/
.build/
docs/_images/need_pie_*.png

.devcontainer/
.vscode/
.dockerignore

*.db


# Ignore dynaconf secret files
.secrets.*

# CDK asset staging directory
.cdk.staging
cdk.out
